body{
    background-color:#0A192F;
    color:#ffffff;
    }
.container{
    margin: 0;
    max-width: 1000px;
    padding: 20px;
    display :flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.text-content{
    max-width: 500px;
    
}  
.profile{
width: 400px;
height: 500px;
border-radius: 100%; 
background-color: #0A192F;


} 
 
nav{
    background-color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    display:flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #081b29;
    gap: 25px;
}
nav a:hover{
    color:yellow
}
.me{
    background-color: aqua;
    border-radius: 20px;
    border-width: 10px;
}
.ma{ 
    background-color: aqua;
    border-radius: 20px;
    border-width: 10px;
}
.my{
    background-color: aqua;
    border-radius: 20px;
    border-width: 10px;
}
.text{
    margin-top: 0;
}
.contact{
    background-color: #0A192F;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display:flex;
    min-height: 100vh;
    
}
.contact-box{
   background: linear-gradient(to right,#0f172a,#1e3a8a);
    backdrop-filter: blur(10px);
    border:1px solid rba(255,255,255,0.2);
    width: 700px;
    border-radius: 20px;
    
}
.About{
    font-family: Arial,sans-serif;
    align-items:center;
    justify-content:center;
    display:flex;
    min-height:100vh;

}
.About-box{
  background: linear-gradient(to right,#0f172a,#1e3a8a);
    backdrop-filter: blur(10px);
    border:1px solid rba(255,255,255,0.2);
    width: 700px;
    border-radius: 20px;
}
.Education{
    font-family: Arial,sans-serif;
    align-items:center;
    justify-content:center;
    display:flex;
    min-height:100vh;
}
.Education-box{
    background: linear-gradient(to right,#0f172a,#1e3a8a);
    backdrop-filter: blur(10px);
    border:1px solid rba(255,255,255,0.2);
    width: 700px;
    border-radius: 20px;

}
.skill{
    font-family: Arial,sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height:100vh;
}
.skills-box{
   background: linear-gradient(to right,#0f172a,#1e3a8a);
    backdrop-filter: blur(10px);
    border:1px solid rba(255,255,255,0.2);
    width: 700px;
    border-radius: 20px;
}

    



